@keyframes rotateBox {
    from {
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(360deg) rotateY(360deg);
    }
}

.box {
    transform-style: preserve-3d;
    width: 100px;
    height: 100px;
    animation-name: rotateBox;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.face {
    width: 100px;
    height: 100px;
    position: absolute;
}

.front {
    background-color: red;
    transform: translateZ(50px);
}

.back {
    background-color: green;
    transform: translateZ(-50px);
}

.left {
    background-color: blue;
    transform: translateX(-50px) rotateY(90deg);
}

.right {
    background-color: aqua;
    transform: translateX(50px) rotateY(90deg);
}

.top {
    background-color: yellow;
    transform: translateY(-50px) rotateX(90deg);
}

.bottom {
    background-color: purple;
    transform: translateY(50px) rotateX(90deg);
}