doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="node_modules/jquery/dist/jquery.min.js")
    body
        block content
